
// always have a scroll bar to avoid layout jumps
html { overflow-y: scroll; }

body {
  font-family: 'Lato', sans-serif;
  min-height: 100px;
  padding-top: 70px;
}

h1 {
  color: #333;
  font-weight: 900;
}


.map {
  height: 600px;
}

.form {
  margin-bottom: 30px;
  .form-control {
    width: 140px;
  }
}

.item {
  display: flex;
  width: 100%;
  //justify-content: space-between;
  .item-left {
    flex: 0;
    background-color: lightgreen;
    > div {
      display: flex;
      align-items: center;
      height: 100%;
      > div {
        flex:1;
      }
    }
  }
  .item-main {
    flex: 1;
    min-width: 0; // overflow
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: lightpink;
    margin: 0 4px 0 4px;
  }
  .item-right {
    flex: 0;
    background-color: lightseagreen;
  }

  margin-bottom: 4px;
}
